body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #D7F5E8;
}

.game{
    text-align: center;
}

.board {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 46px;
    background-color: #F5D7E4;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover{
    background-color: light grey;
}

.cell:focus {
    outline: none;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #EBFAF3;
}
